@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "./components/index.css";
@import "./template/index.css";
@import "./vendors/index.css";
@import "./tailwind/index.css";

body.dialog-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.dialog-scroll .dialog-overlay-after-open {
  overflow-x: hidden;
  overflow-y: auto;
}

.models {
  display: flex;
  flex-wrap: wrap;
}

.models .model {
  border: 1px solid #ddd;
  color: #fff;
  font-size: 11px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.model ul {
  list-style: disc;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo img {
  border-radius: 5px;
}
